body {
    background-image: url(../images/pattern7.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
}
#cardContainer {

    margin-top: 5%;
    margin-bottom: 70px;
}

#cardContents {
    justify-content: space-evenly;
}

.card {
    margin-bottom: 2%;
    background-image: url(../images/pattern3.jpg);
    background-size: 600px;
}

img {
    padding-top: 4px;
}

h5, p, .card-body{
    text-align: center;
}

ul {
    padding: 0;
}

#customerDetails li {
    text-align: start;
    font-weight: 500;
    font-size: 25px;
}

li span {
    color: rgb(17, 0, 167);
    
}
