
.footer1 {
    padding: 40px;
    background-color: rgb(1, 0, 78);
    color: white;
}

.col {
    text-align: center;
}
.fa {
    color: white;
}

.icons {
    display: inline;
    margin-left: 10px;
}

i.fa {
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888; 
    padding: 0.5em 0.6em;
    margin-top: 10px;
  
  }

.social-icons {
    padding-left: 0%;
}


#links {
    padding-left: 0;
    margin-top: 10px;
}

#copyright {
    margin: 0%;
    text-align: center;
}

ul {
    list-style: none;
}

.footer-contacts {
    font-size: 20px;
    font-weight: 700;
}

.sub-head {
    line-height: 30px;
}