<!-- <app-movie-list></app-movie-list> -->
<strong>Angular Learn</strong>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink = "movie-list" class="btn btn-sm btn-outline-info" routerLinkActive ="active-link">Movies</a>&nbsp;&nbsp;&nbsp;
<a routerLink = "edit-movie" class="btn btn-sm btn-outline-info" routerLinkActive ="active-link">Edit Movie</a>&nbsp;&nbsp;&nbsp;
<a routerLink = "profile" class="btn btn-sm btn-outline-info" routerLinkActive ="active-link">My Profile</a>&nbsp;&nbsp;&nbsp;
<hr>
<router-outlet></router-outlet>